<%= form_for @cupcake do |f| %>
	<div class="form-group">
		<%= f.label :name %>
		<%= f.text_field :name, class: "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :description %>
		<%= f.text_field :description, class: "form-control"  %>
	</div>
	<div class="form-group">
		<%= f.label :source %>
		<%= f.text_field :source, class: "form-control"  %>
	</div>

<%= f.fields_for :recipes do |recipe_fields| %>
			<div class="form-group">
				<%= recipe_fields.label :cupcake_part_cake, "cake" %>
				<%= recipe_fields.radio_button :cupcake_part,  "cake", checked: true %>
				<%= recipe_fields.label :cupcake_part_filling, "filling" %>
				<%= recipe_fields.radio_button :cupcake_part, "filling" %>
				<%= recipe_fields.label :cupcake_part_frosting, "frosting" %>
				<%= recipe_fields.radio_button :cupcake_part, "frosting" %>
			</div>
			<div class="form-group">
				<%= recipe_fields.label :name %>
				<%= recipe_fields.text_field :name, class: "form-control"  %>
			</div>
			<div class="form-group">
				<%= recipe_fields.label :components, "Ingredients" %>
				<%= recipe_fields.text_area :components, class: "form-control"  %>
			</div>
			<div class="form-group">
				<%= recipe_fields.label :baketemp %>
				<%= recipe_fields.text_field :baketemp, class: "form-control"  %>
			</div>
			<div class="form-group">
				<%= recipe_fields.label :baketime %>
				<%= recipe_fields.text_field :baketime, class: "form-control" %>
			</div>
			<div class="form-group">
				<%= recipe_fields.label :instructions %>
				<%= recipe_fields.text_area :instructions, class: "form-control"  %>
			</div>
	<% end %>
	<%= f.submit %>
<% end %>

