<div class="row">
	<div class="col-xs-offset-1 col-xs-12">
		<div class="ribbon">
	    <span class="ribbon-content">Cupcake Recipes</span>
		</div>
		<%= link_to "New Cupcake", new_cupcake_path %>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
	<ul class="list-inline">
	<% @cupcakes.each do |cupcake| %>
		<li>
			<div class="index-item bg-white">
				<% if cupcake.photos.length >= 1 %>
					<div class="picture"><%= link_to (image_tag cupcake.photos.first.image), cupcake %></div>
				<% else %>
					<div class="picture"><%= link_to (image_tag image_url("placeholder.jpg")), cupcake %></div>
				<% end %>

				<% if cupcake.average_rating >= 1 %>
						<div class="star-wrapper"><%= render_stars(cupcake.average_rating) %></div>
				<% else %>
						<div class="rating-text">
							<span><%= link_to "Rate!", cupcake %> </span>
						</div>
				<% end %>
				<div class="oneline"><%= link_to cupcake.name, cupcake %></div>
			</div>
		</li>
		<% end %>
	</ul>
	</div>
</div>

