<div id="recipe-index">
<h1>Recipes</h1>
	<%= link_to "New Recipe", new_recipe_path %>

<ul class="recipe-index">
	<% @recipes.each do |recipe| %>
		<li>
				<% if recipe.photos.length >= 1 %>
					<% if recipe.photos.first.image? %>
						<div><%= link_to (image_tag recipe.photos.last.image_url(:thumb)), recipe %></div>
					<% else %>
						<div><%= link_to (image_tag recipe.photos.last.remote_url), recipe %></div>
					<% end %>
				<% else %>
					<div><%= link_to (image_tag ("placeholder.jpg")), recipe %></div>
				<% end %>
				<div class="oneline"><%= link_to recipe.name, recipe %></div>
				<% if recipe.average_rating >= 1 %>
						<%= render_stars(recipe.average_rating) %>
				<% else %>
					<div class="stars">.</div>
				<% end %>
			</li>
	<% end %>
</ul>
</div>