<div class="row">
	<div class="col-xs-offset-1 col-xs-12">
		<div class="ribbon">
	    <span class="ribbon-content">Recipes</span>
		</div>
		<%= link_to "New Recipe", new_recipe_path %>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
	<ul class="list-inline">
	<% @recipes.each do |recipe| %>
		<li>
			<div class="index-item bg-white">
				<% if recipe.photos.length >= 1 %>
					<% if recipe.photos.first.image? %>
						<div class="picture"><%= link_to (image_tag recipe.photos.last.image), recipe %></div>
					<% else %>
						<div class="picture"><%= link_to (image_tag recipe.photos.last.remote_url), recipe %></div>
					<% end %>
				<% else %>
					<div class="picture"><%= link_to (image_tag ("placeholder.jpg")), recipe %></div>
				<% end %>

				<% if recipe.average_rating >= 1 %>
						<div class="star-wrapper"><%= render_stars(recipe.average_rating) %></div>
				<% else %>
						<div class="rating-text">
							<span><%= link_to "Rate!", recipe %> </span>
						</div>
				<% end %>
				<div class="oneline"><%= link_to recipe.name, recipe %></div>
			</div>
		</li>
		<% end %>
	</ul>
	</div>
</div>