<header class="navbar navbar-default navbar-fixed-top" role="banner">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<%= link_to "Every Cupcake", root_path, class: "navbar-brand" %>
		</div>
		<nav class="navbar-collapse collapse" role="navigation">
			<ul class="nav navbar-nav navbar-right">
					<li><%= link_to "recipes", recipes_path %></li>
				<% unless user_signed_in?  %>
  				<li><%= link_to 'sign up', new_user_registration_path %></li>
  				<li><%= link_to 'sign in', new_user_session_path %></li>
  			<% else %>
  				<% if user_signed_in? -%>
		        <div id="user_login_box" style="float:right">
		          <%= current_user.email %> |
		          <%= link_to 'edit profile', edit_user_registration_path %> |
		          <%= link_to 'sign out', destroy_user_session_path, method: :delete %>
		        </div>
		      <% end -%>
		      <% if admin_signed_in? -%>
		        <div id="admin_login_box" style="float:left">
		          <%= current_admin.email %> |
		          <%= link_to 'sign out', destroy_admin_session_path, method: :delete %>
		        </div>
		      <% end -%>
				<% end -%>
		</nav>
	</div>
</header>